#about-me {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 10%;
}

.about-me {
  font-weight: bold;
  font-size: 5rem;

  position: absolute;
  top: 110%;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 42rem;
}

.bio {
  font-size: 2rem;
  display: inline-block;

  position: absolute;
  top: 127.5%;
  left: 10%;
  right: 10%;
}

.bio-img {
  display: inline-block;
  width: 15rem;
  border-radius: 32px;
  opacity: 0;
  animation: pop 1s forwards 2s;
}

.bio-paragraph {
  display: inline-block;
  opacity: 0;
  animation: pop 1s forwards 2s;
}

@keyframes pop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}