#about-me {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 10%;
}

.about-me {
  color: white; 
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  font-size: 5rem;

  position: absolute;
  top: 110%;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 42rem;
  animation: type 3s; 
}

.back-button {
  color: white;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 2rem;

  display: block;
  position: absolute;
  top: 115%;
  right: 12%;
  opacity: 0;

  animation: 2s right-intro 1s forwards
}

.up {
  color: white;
  transition: 150ms;
  animation: -jump-effect 300ms forwards;
}

.up:hover {
  color: rgb(235, 92, 161);
  cursor: pointer;
  animation: jump-effect 300ms forwards;
}

.bio {
  color: white;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;

  position: absolute;
  top: 127.5%;
  left: 10%;
  right: 10%;

  opacity: 0;
  animation: 2s left-intro 1s forwards;
}

.bio-img {
  display: inline-block;
  width: 15rem;
  border-radius: 32px;
}
