body {
  background-color: rgb(29, 25, 36);
}

.title {
  color: white; 
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  font-size: 5rem;

  position: absolute;
  top: 10%;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 42rem;
  animation: type 3s; 
}

@keyframes type{ 
  from { width: 0; } 
} 

#page-nav {
  position: absolute;
  top: 18%;
  left: 10%;
  margin-top: 2rem;
  opacity: 0;

  animation-name: opacity;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-buttons {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0;
  
  display: block;
  position: relative;

  transition: 150ms;
  transform: translateX(-100%);
  animation: 2s nav-buttons 1s  forwards;
}

.nav-buttons:nth-child(2) {
  animation-delay: 1.1s;
}

.nav-buttons:hover {
  color: rgb(235, 92, 161);
}

@keyframes nav-buttons {
  to {
    transform:translateX(0);
  }
}

#right-nav {
  position: absolute;
  top: 16%;
  right: 10%;
  opacity: 0;

  animation-name: opacity;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.theme {
  color: white;
  transition: 150ms;
}

.theme:hover {
  color: rgb(235, 92, 161);
  cursor: pointer;
}

.theme::after {
  color: rgb(235, 92, 161);
}

.linkedIn {
  color: white;
  transition: 150ms;
  margin-left: 2rem;
}

.linkedIn:hover {
  color: rgb(0, 119, 181);
}
