body {
  background-color: rgb(29, 25, 36);
  color: white;
  font-family: 'Heebo', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

span {
  white-space: 0;
}

#landing {
  position: absolute;
  opacity: 0;
  top: 0%;
  left: 10%;
}

.title {
  font-weight: bolder;
  font-size: 5rem;

  position: absolute;
  top: 10%;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 38.25rem;
}

.char-0 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards;
}
.char-1 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .1s;
}
.char-2 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .2s;
}
.char-3 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .3s;
}
.char-4 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .4s;
}
.char-5 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .5s;
}
.char-6 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .6s;
}
.char-7 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .7s;
}
.char-8 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .8s;
}
.char-9 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards .9s;
}
.char-10 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards 1s;
}
.char-11 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards 1.1s;
}
.char-12 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards 1.2s;
}
.char-13 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards 1.3s;
}
.char-14 {
  opacity: 0;
  display: inline-block;
  animation: pop 1s forwards 1.4s;
}

@keyframes pop{
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-nav {
  position: absolute;
  top: 18%;
  left: 10%;
  margin-top: 2rem;
  opacity: 0;

  animation: 2s left-intro 1s forwards;
}

.nav-buttons {
  font-size: 3rem;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0;

  display: block;
  position: relative;

  transition: 150ms;
  animation: -nav-buttons-hover 300ms forwards;
}

.nav-buttons:hover {
  color: rgb(235, 92, 161);
  animation: nav-buttons-hover 300ms forwards;
}

@keyframes left-intro {
  from {
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform:translateX(0);
  }
}

@keyframes nav-buttons-hover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(15px)
  }
}

@keyframes -nav-buttons-hover {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(0)
  }
}

#right-nav {
  position: absolute;
  top: 10%;
  right: 10%;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  opacity: 0;

  animation: 2s right-intro 1s forwards
}

@keyframes right-intro {
  from {
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.theme {
  transition: 150ms;
  animation: -jump-effect 300ms forwards;
}

.theme:hover {
  color: rgb(235, 92, 161);
  cursor: pointer;
  animation: jump-effect 300ms forwards;
}

.divider {
  color:  rgb(235, 92, 161);
  margin-left: 2rem;
  font-size: 25px;
  font-weight: bold;
}

.linkedIn {
  transition: 150ms;
  margin-left: 2rem;
  animation: -jump-effect 300ms forwards;
}

.linkedIn:hover {
  color: rgb(0, 119, 181);
  animation: jump-effect 300ms forwards;
}

.github {
  transition: 150ms;
  margin-left: 2rem;
  animation: -jump-effect 300ms forwards;

}

.github:hover {
  color: rgb(108, 198, 68);
  animation: jump-effect 300ms forwards;
}

@keyframes jump-effect {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes -jump-effect {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}

* {
  scroll-behavior: smooth;
}
