body {
    background-color: rgb(29, 25, 36);
    color: white;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.text-size-2 {
    font-size: 2rem;
    align-self: center;
}
.text-size-header {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
}
.margin-left-05 {
    margin-left: .5rem;
}

.margin-right-05 {
    margin-right: .5rem;
}

.screen-container {
    display: flex;
    flex-direction: column;
}

.top-row-container {
    display: flex;
}

.top-row-name-container {
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;

    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    width: 21%;

    align-self: center;
}

.top-row-game-container {
    border-color: rgb(55, 48, 69);
    border-style: solid;
    border-radius: .75rem;
    width: 79%;

    display: flex;
    justify-content: space-between;
}

.numbers {
    font-size: 3rem;
    background-color: rgb(55, 48, 69);
    border-radius: .5rem;
    padding: .5rem;
}

.buttons {
    font-size: 2rem;
    color: white;

    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .5rem;
    margin-top: .5rem;
    height: 5.3rem;
    border-style: none;
    background-color: rgb(55, 48, 69);
}

.minesweeper-game-container {
    height: 90%;
    display: flex;
}

.minesweeper-options {
    padding-left: 1rem;
    width: 21%;
    display: flex;
    flex-direction: column;
}

.minesweeper-tiles {
    width: 79%;
    display: grid;
    border-style: solid;
    border-color: rgb(55, 48, 69);
    border-radius: .75rem;
}

.blank-tile {
    background-color: rgb(118, 92, 136);
    border-color: rgb(55, 48, 69);
    border-style: solid;
    border-width: .25rem;
    border-radius: .5rem;

    width: 5rem;
    height: 5rem;

}